.MuiPaper-root, .MuiDrawer-paper {
    color: inherit;
    background: transparent;
    border-color: transparent;
}

.MuiDialog-container {
    width: 100%;
    .MuiDialog-paper {
        width: 100%;
        height: 100%;
        max-width: 65%;
        max-height: 75%;
    }
}