.inProcessEditing {
  border: 5px rgb(227, 169, 8) solid !important;
  border-radius: 20px !important;
}

.questionCards {
  
  gap: 35px;
  width: 95%;
  display: grid;
  margin: 35px auto;
  // overflow: auto;
  // max-height: 800px;
  grid-template-columns: auto auto;
  .questionCard {
    border: 5px var(--bg) solid ;
    transition: 150ms ease-in-out;
    padding: 0;
    grid-gap: 0;
    display: flex;
    font-size: 1.4em;
    line-height: 1.4em;
    border-radius: 15px;
    flex-direction: column;
    // border: solid 1px white;
    height: fit-content !important;
    justify-content: space-between;
    .questionIndexRow {
      display: flex;
      font-weight: bold;
      justify-content: space-between;
    }
    .questionAndTopics {
      display: flex;
      grid-gap: 10px;
      padding: 10px 15px;
      flex-direction: column;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      .question {
        font-weight: bold;
      }
      .questionTopics {
        font-style: italic;
      }
    }
    .questionChoices {
      gap: 15px;
      display: grid;
      padding: 13px 20px;
      align-items: center;
      justify-content: center;
      grid-template-columns: 50% 50%;
      .choiceButton {
        width: 100%;
        border: none;
        outline: none;
        font-size: 22px;
        font-weight: 900;
        line-height: 1.2em;
        font-style: italic;
        border-radius: 15px;
        background: var(--main);
      }
    }

  }
}