.inProcessEditing {
  border: 5px rgb(227, 169, 8) solid !important;
  border-radius: 20px !important;
  .question {
    &:hover {
      background: rgb(255 255 255 / 25%);
      cursor: pointer;
      border-radius: 15px;
    }
  }
}

.answerExplanationSection {
  display: flex;
  grid-gap: 5px;
  padding: 5px 10px;
  align-items: center;
  background: #1f2230;
  justify-content: center;
  .ansExplIconContainer {
    display: flex;
    min-width: 30px;
    max-height: 24px;
    align-items: center;
    justify-content: center;
  }
  .ansExplanationField {
    font-size: 0.75em;
  }
}

.questionChoiceContainer {
  width: 100%;
  display: flex;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
}

.questionChoiceIndex {
  color: var(--bg);
  font-weight: 900;
  font-size: 0.85em;
  font-style: normal;
}

.questionChoiceIndexBadge {
  .MuiBadge-badge {
    padding: 7px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background: var(--bg);
  }
}

.questionCards {
  gap: 35px;
  width: 95%;
  display: grid;
  margin: 35px auto;
  // overflow: auto;
  // max-height: 800px;
  grid-template-columns: auto auto;
  .questionCard {
    border: 5px var(--bg) solid ;
    transition: 150ms ease-in-out;
    padding: 0;
    grid-gap: 0;
    display: flex;
    font-size: 1.4em;
    line-height: 1.4em;
    border-radius: 15px;
    flex-direction: column;
    // border: solid 1px white;
    height: fit-content !important;
    justify-content: space-between;
    .questionIndexRow {
      display: flex;
      font-weight: bold;
      justify-content: space-between;
    }
    .questionAndTopics {
      display: flex;
      grid-gap: 10px;
      padding: 10px 15px;
      flex-direction: column;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      .question {
        padding: 5px;
        font-weight: bold;
        transition: 150ms ease-in-out;
      }
      .questionTopics {
        font-size: 0.9em;
        font-style: italic;
      }
    }
    .questionChoices {
      gap: 15px;
      display: grid;
      padding: 13px 20px;
      align-items: center;
      justify-content: center;
      grid-template-columns: 50% 50%;
      .choiceButton {
        width: 100%;
        border: none;
        outline: none;
        font-size: 22px;
        font-weight: 900;
        line-height: 1.2em;
        font-style: italic;
        border-radius: 15px;
        background: var(--main);
      }
    }

  }
}