:root {
    --inputFieldHeight: 38px;
}

.richTextEditorPreview {
    height: 100%;
    &.inEditor {
        min-height: 38px;
    }
    p {
        margin: 0;
    }
}

.formFieldChoiceIndex {
    min-width: 17px !important;
}

.richTextEditorComponent {
    width: 100%;
    .richTextEditorField {
        border-radius: 6px;
        font-family: var(--font) !important;
        min-height: var(--inputFieldHeight);
        max-height: var(--inputFieldHeight);
        &.readOnly {
            .tiptap {
                padding: 0;
            }
        }
        .tiptap {
            width: 100%;
            display: flex;
            padding: 0 12px;
            align-items: center;
            min-height: var(--inputFieldHeight);
            max-height: var(--inputFieldHeight);
        }
        p {
            margin: 0;
        }
    }
}

.selectorFields {
    gap: 15px;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    &.selectorFieldGrid {
        grid-template-columns: 35% 1fr;
    }
    .formField {
        width: 100%;
        .selectorField {
            width: 100%;
            color: white;
            background: var(--darkMain);
            max-height: var(--inputFieldHeight);
        }
    }
}

.selectorFieldOption {
    transition: 150ms ease-in-out;
    &:hover {
        background: var(--darkMain);
    }
}

.questionsTopContent {
    width: 95%;
    margin: 35px auto 0;
}

.questionButton {
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 1.15em;
    border-radius: 6px;
    background: var(--Easy);
    transition: 150ms ease-in-out;
    max-height: var(--inputFieldHeight);
    &:hover {
        background: var(--cardBg);
    }
}

.questionButtonAlt {
    background: var(--cardBg);
    &:hover {
        background: var(--darkMain);
    }
}

.questionDialog {
    width: 100%;
    height: 100%;
    color: white;
    background: var(--Easy);
    .questionDialogTopContent {
        width: 100%;
        display: flex;
        padding: 35px;
        font-size: 1.5em;
        align-items: center;
        justify-content: space-between;
    }
    .questionDialogContent {
        padding: 0 35px;
    }
    .dialogButton {
        color: white;
        background: var(--cardBg);
    }
}

.imageTypeSelector {
    width: 100%;
    border: none;
    outline: none;
    max-height: var(--inputFieldHeight);
}

.imageTypeSelectorButton {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bolder;
    background: var(--cardBg);
    color: white !important;
    font-family: var(--font) !important;
    &.Mui-selected {
        background: var(--bg);
    }
    &:hover {
        background: var(--bg);
        &.Mui-selected {
            background: var(--cardBg);
        }
    }
}

.explanationField {
    font-size: 16px;
}

.questionForm {
    width: 100%;
    height: 100%;
    display: flex;
    grid-gap: 15px;
    align-items: center;
    flex-direction: column;
    container-type: inline-size;
    justify-content: space-between;
    @container (max-width: 560px) {
        .formFieldCol {
            .formFieldGroup {
                flex-direction: column;
            }
        }
    }
}

.formField {
    width: 100%;
    display: flex;
    grid-gap: 15px;
    align-items: center;
}

.formFieldCol {
    flex-direction: column;
    align-items: flex-start;
}

.formFieldText {
    font-weight: 600;
    font-size: 1.15em;
    min-width: fit-content;
    max-width: fit-content;
}

.formFieldGroup {
    width: 100%;
    display: flex;
    grid-gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.checkIcon {
    color: var(--Easy2);
}